@import "~antd/dist/antd.css";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  max-width: 1240px;
  margin: 0 auto;
}
ul > li {
  list-style: none;
}
.ant-card-body {
  padding: 10px;
}
.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 0px;
}
.containCand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90%;
  padding: 1rem;
}
.background {
  width: 100%;
  height: 400px;
  background-image: url("./assets/images/map.png");
  background-size: cover;
  background-position: 50% 50%;
}

button.rec-dot {
  display: none;
}
.rec-arrow-right,
.rec-arrow-left,
.rec-arrow-right:hover:enabled,
.rec-arrow-left:hover:enabled,
.rec-arrow-right:focus:enabled,
.rec-arrow-left:focus:enabled {
  background-color: transparent !important;
  color: lightgray !important;
  box-shadow: none !important;
}

.carousel {
  width: 90% !important;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}
.rec-item-wrapper {
  max-width: 175px !important;
  margin: 0 0.5rem;
}
.myCrd.ant-card {
  max-width: 175px;
  border: none;
}
/* Tab search */
.ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}
.ant-row {
  margin: 0 !important;
}
.searchTab.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  font-weight: bold;
  color: white;
  background: black;
}
.searchTab.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  font-weight: bold;
  background: white;
  color: black;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
}

/*** job section***/
.tabb {
  border: 1px solid #fafafb;
  padding: 1rem 0.5rem;
  box-shadow: inset 0 0 0 15px #fafafb;
}
.tab2.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  background: #fafafb;
}
.tab2.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
}
.tab2.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
  color: gray;
  font-weight: bold;
}
.marg {
  margin: 2rem 1rem;
}
.loadMore {
  text-align: center;
  font-weight: bold;
  background: #f1f2f4;
  height: 3rem;
  border: 0;
  text-transform: uppercase;
}
/* card job */
.cardJob {
  color: gray;
  font-weight: bold;
}
.cardJob > .ant-card-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.btnStyle {
  margin-right: 0.5rem;
  background: #7df87d;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 2px;
  height: 25px;
  border: 0;
}
.jobtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0.5rem;
  max-width: 17rem;
}
/* open position */
.positions {
  display: flex;
  align-items: center;
  flex-grow: 3;
  justify-content: center;
  width: 33.3%;
}
@media (max-width: 768px) {
  .positions {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .positions {
    width: 100%;
  }
}
.positions > .ant-card-body {
  padding: 1.54rem 1rem;
  display: flex;
}
.cardIcons > .ant-card-body {
  padding: 0;
}
/*featured sec*/
.slider > .slick-dots-bottom > li {
  background: gray;
}
.slider > .slick-dots-bottom {
  bottom: -25px;
}
.slider > .slick-dots li.slick-active button {
  background: #3ebff8;
}
